doctype html
html(lang='uk')
    head
        meta(charset='utf-8')
        title='Horizon Hues'
    body 
        include components/header.pug
        include components/main.pug  
        include components/footer.pug