.footer-container {
    background-color: #898989;
    height: 60vh;

    text-align: center;
}

.contact-form {
    position: absolute;
    background-color: #ACACAC;
    height: 30vh;
    width: 40vw;
    margin-left: 30vw;
}

.footer-container h1 {
    padding-top: 30vh;
}

.footer-container .menu {
    margin-top: 10vh;
}